<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/Scripts/jquery-3.4.1.min.js")

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="#">
            <img src="~/images/iconos/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            @Html.ActionLink("Bootstrap", "Index", "Producto", new { area = "" }, new { @class = "navbar-brand" })
        </a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 text-light">

                <li>@Html.ActionLink("Extrados", "Index", "Producto", new { area = "" }, new { @class = "text-light" })</li>
                <li>&nbsp;</li>
                <li>@Html.ActionLink("Tabla", "Tabla", "Producto", new { area = "" }, new { @class = "text-light" })</li>
                <li>&nbsp;</li>
                <li>@Html.ActionLink("JsonProductos", "ListarProductos", "Producto", new { area = "" }, new { @class = "text-light" })</li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>
    </nav>


    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
  
 
    @Scripts.Render("~/Scripts/bootstrap.bundle.min.js")
    @Scripts.Render("~/Scripts/all.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
